<h2>Login</h2>
<form class="login" role="form">
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" />
    </div>
    <div class="checkbox">
        <label>
            Remember me <input id="remember" type="checkbox">
        </label>
    </div>
    <div class="form-group">
        or <a href="#register/">register</a>!
    </div>
    <button class="submit btn btn-default" type="submit">Sign in</button>
</form>