<h2>Register</h2>
<form class="register" role="form">
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="firstname" placeholder="Firstname" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="lastname" placeholder="Lastname" />
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="E-Mail" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password1" placeholder="Password" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password2" placeholder="Repeat Password" />
    </div>
    <button class="submit btn btn-default" type="submit">Register</button>
</form>